In [2]:
# Importo las librerías que usaré en el proyecto

import pandas as pd
import numpy as np

In [3]:
# Cargo el dataset que voy a utilizar (./datasets/akc-data-latest.csv)

df = pd.read_csv('../datasets/wines_SPA.csv')

In [4]:
# Muestro una fila aleatoria del dataset para ver las columnas y su contenido

df.sample(1)

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
5317,Artadi,Valdegines,2016,4.2,398,Espana,Vino de Espana,48.96,Tempranillo,4.0,2.0

In [5]:
# Muestro el tipo de dato de cada columna y los valores únicos para identificar variables

print("Tipos de datos por columna:")
print(df.dtypes)
print("\nValores únicos por columna:")
for col in df.columns:
    print(f"{col}: {df[col].nunique()}")

Tipos de datos por columna:
winery          object
wine            object
year            object
rating         float64
num_reviews      int64
country         object
region          object
price          float64
type            object
body           float64
acidity        float64
dtype: object

Valores únicos por columna:
winery: 480
wine: 847
year: 71
rating: 8
num_reviews: 817
country: 1
region: 76
price: 1292
type: 21
body: 4
acidity: 3

In [6]:
# Reviso las estadísticas descriptivas del dataset

df.describe()

            rating   num_reviews        price         body      acidity
count  7500.000000   7500.000000  7500.000000  6331.000000  6331.000000
mean      4.254933    451.109067    60.095822     4.158427     2.946612
std       0.118029    723.001856   150.356676     0.583352     0.248202
min       4.200000     25.000000     4.990000     2.000000     1.000000
25%       4.200000    389.000000    18.900000     4.000000     3.000000
50%       4.200000    404.000000    28.530000     4.000000     3.000000
75%       4.200000    415.000000    51.350000     5.000000     3.000000
max       4.900000  32624.000000  3119.080000     5.000000     3.000000

In [7]:
# Reviso los valores nulos por columna

print(df.isnull().sum())

winery            0
wine              0
year              2
rating            0
num_reviews       0
country           0
region            0
price             0
type            545
body           1169
acidity        1169
dtype: int64

In [8]:
# Compruebo el número de filas duplicadas 

print("Duplicados:", df.duplicated().sum())

Duplicados: 5452

In [9]:
# 8. Elimio las filas duplicadas

df = df.drop_duplicates()
print("Duplicados:", df.duplicated().sum())

Duplicados: 0

In [10]:
# Miro los valores únicos de algunas columnas importantes para el análisis por si hubiese outliers destacables

print(f"rating: {df["rating"].unique()}")
print(f"price: {df["price"].unique()}")
print(f"body: {df["body"].unique()}")
print(f"acidity: {df["acidity"].unique()}")

rating: [4.9 4.8 4.7 4.6 4.5 4.4 4.3 4.2]
price: [995.   313.5  324.95 ...  16.76  24.45  31.63]
body: [ 5.  4.  3. nan  2.]
acidity: [ 3.  2.  1. nan]

In [11]:
# Vuelvo a revisar la información y los valores nulos por columna
    # El número de filas se ha reducido de 7500 a 2048 al eliminar duplicados
    
print(df.info())
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
Index: 2048 entries, 0 to 6100
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   winery       2048 non-null   object
 1   wine         2048 non-null   object
 2   year         2046 non-null   object
 3   rating       2048 non-null   float64
 4   num_reviews  2048 non-null   int64
 5   country      2048 non-null   object
 6   region       2048 non-null   object
 7   price        2048 non-null   float64
 8   type         1942 non-null   object
 9   body         1777 non-null   float64
 10  acidity      1777 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 192.0+ KB
None
winery           0
wine             0
year             2
rating           0
num_reviews      0
country          0
region           0
price            0
type           106
body           271
acidity        271
dtype: int64

In [12]:
# Decido revisar los nulos de la columna "year" para saber cómo gestionarlos

df[df["year"].isnull()]

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
46,Vega Sicilia,Unico Reserva Especial Edicion,NaN,4.7,12421,Espana,Ribera del Duero,423.5,Ribera Del Duero Red,5.0,3.0
851,La Unica,Fourth Edition,NaN,4.4,131,Espana,Vino de Espana,40.0,Tempranillo,4.0,2.0

In [13]:
# Mantengo los nulos en "year" y los gestionaré al convertir la columna a numérica

In [14]:
# Reviso los valores nulos en la columna "type" para decidir cómo gestionarlos
    # Observo un patrón entre los nulos de type, body y acidity
    
df[df["type"].isnull()]

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
120,Finca Moncloa,Tintilla de Rota,2016,4.7,92,Espana,Cadiz,43.13000,NaN,NaN,NaN
147,Rafael Palacios,Sorte O Soro Val do Bibei,2019,4.7,37,Espana,Valdeorras,194.86000,NaN,NaN,NaN
156,Gutierrez de la Vega,Recondita Armonia Monastrell Dulce,1987,4.7,27,Espana,Alicante,81.90000,NaN,NaN,NaN
254,Costers del Siurana,Dolc de L'Obac,2006,4.6,94,Espana,Priorato,117.23942,NaN,NaN,NaN
288,Francisco Garcia Perez,Adega do Moucho Treixadura,2017,4.6,53,Espana,Ribeiro,34.50000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1934,Gramona,Gessami,2020,4.2,692,Espana,Penedes,11.20000,NaN,NaN,NaN
1982,Emilio Moro,La Revelia Godello,2018,4.2,484,Espana,Bierzo,21.95000,NaN,NaN,NaN
1995,Culebron,Fondillon Gran Reserva,1964,4.2,432,Espana,Alicante,49.95000,NaN,NaN,NaN
2011,Ramon do Casar,Treixadura,2020,4.2,407,Espana,Ribeiro,11.95000,NaN,NaN,NaN
2014,Binigrau,Nounat,2020,4.2,404,Espana,Mallorca,19.90000,NaN,NaN,NaN

In [15]:
# Al revisar los nulos de la columna "type", observo que todos los registros con "type" nulo también tienen "body" y "acidity" nulos
    
mask = df["type"].isnull()
print((df.loc[mask, ["body", "acidity"]].isnull().all(axis=1)).sum())
print(len(df[mask]))

106
106

In [16]:
# Me doy cuenta de que la columna "type" mezcla los tipos de vino por uva, denominación de origen y estilo de vino
    # Esto dificulta el análisis, ya que no es consistente

In [17]:
# Compruebo los valores únicos de body y acidity por tipo de vino antes de eliminar la columna "type"
    # Veo que el valor de body y acidity es igual para cada tipo de vino
    # Por lo tanto, puedo usar esos valores para rellenar body y acidity antes de eliminar la columna "type"
    
print(df.groupby("type")[["body", "acidity"]].nunique())

                      body  acidity
type
Albarino                 1        1
Cabernet Sauvignon       1        1
Cava                     1        1
Chardonnay               1        1
Grenache                 1        1
Mencia                   1        1
Monastrell               1        1
Montsant Red             1        1
Pedro Ximenez            1        1
Priorat Red              1        1
Red                      1        1
Ribera Del Duero Red     1        1
Rioja Red                1        1
Rioja White              1        1
Sauvignon Blanc          1        1
Sherry                   1        1
Sparkling                1        1
Syrah                    1        1
Tempranillo              1        1
Toro Red                 1        1
Verdejo                  1        1

In [18]:
# Relleno los nulos de body y acidity usando los valores medios por tipo de vino y elimino la columna "type"

df["body"] = df.groupby("type")["body"].transform(lambda x: x.fillna(x.mean()))
df["acidity"] = df.groupby("type")["acidity"].transform(lambda x: x.fillna(x.mean()))
df = df.drop(columns=["type"])

In [19]:
df.sample(1)

,winery,wine,year,rating,num_reviews,country,region,price,body,acidity
1513,Alta Alella,Dolc Mataro,2017,4.3,92,Espana,Alella,16.5,NaN,NaN

In [20]:
# Vuelvo a comprobar los valores nulos tras las transformaciones realizadas

print(df.dtypes)
print("\nValores nulos por columna:")
print(df.isnull().sum())

winery          object
wine            object
year            object
rating         float64
num_reviews      int64
country         object
region          object
price          float64
body           float64
acidity        float64
dtype: object

Valores nulos por columna:
winery           0
wine             0
year             2
rating           0
num_reviews      0
country          0
region           0
price            0
body           106
acidity        106
dtype: int64

In [ ]:
# Reviso los nulos en la columna "body" para ver cómo gestionarlos

df[df["body"].isnull()]

,winery,wine,year,rating,num_reviews,country,region,price,body,acidity
120,Finca Moncloa,Tintilla de Rota,2016,4.7,92,Espana,Cadiz,43.13000,NaN,NaN
147,Rafael Palacios,Sorte O Soro Val do Bibei,2019,4.7,37,Espana,Valdeorras,194.86000,NaN,NaN
156,Gutierrez de la Vega,Recondita Armonia Monastrell Dulce,1987,4.7,27,Espana,Alicante,81.90000,NaN,NaN
254,Costers del Siurana,Dolc de L'Obac,2006,4.6,94,Espana,Priorato,117.23942,NaN,NaN
288,Francisco Garcia Perez,Adega do Moucho Treixadura,2017,4.6,53,Espana,Ribeiro,34.50000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1934,Gramona,Gessami,2020,4.2,692,Espana,Penedes,11.20000,NaN,NaN
1982,Emilio Moro,La Revelia Godello,2018,4.2,484,Espana,Bierzo,21.95000,NaN,NaN
1995,Culebron,Fondillon Gran Reserva,1964,4.2,432,Espana,Alicante,49.95000,NaN,NaN
2011,Ramon do Casar,Treixadura,2020,4.2,407,Espana,Ribeiro,11.95000,NaN,NaN
2014,Binigrau,Nounat,2020,4.2,404,Espana,Mallorca,19.90000,NaN,NaN

In [24]:
# Compruebo los valores únicos de body y acidity por región para ver si puedo rellenar los nulos restantes
    # Veo que para muchas regiones el valor de body y acidity es igual, por lo que puedo usar esos valores para rellenar los nulos restantes

pd.set_option('display.max_rows', None)
print(df.groupby("region")[["body", "acidity"]].nunique())

                                 body  acidity
region
Abona                               0        0
Alella                              2        1
Alicante                            1        1
Almansa                             2        1
Andalucia                           1        1
Aragon                              1        1
Arinzano                            1        1
Arribes                             1        1
Bierzo                              2        1
Binissalem-Mallorca                 1        1
Cadiz                               1        1
Calatayud                           1        1
Campo de Borja                      2        1
Carinena                            2        1
Castilla                            1        1
Castilla y Leon                     3        2
Cataluna                            2        1
Cava                                1        1
Cigales                             1        2
Conca de Barbera                    1        1
Condado de Huelva                   1        1
Costers del Segre                   1        1
Dehesa del Carrizal                 1        1
Dominio de Valdepusa                1        1
El Terrerazo                        1        1
Emporda                             1        1
Extremadura                         1        1
Galicia                             0        0
Gran Canaria                        0        0
Jerez Amontillado                   1        1
Jerez Cream                         1        1
Jerez Oloroso                       1        1
Jerez Palo Cortado                  1        1
Jerez Pedro Ximenes (PX)            2        2
Jerez-Xeres-Sherry                  2        2
Jumilla                             2        1
La Mancha                           1        1
La Palma                            0        0
Madrid                              1        1
Malaga                              1        1
Mallorca                            1        1
Manzanilla                          1        1
Mentrida                            1        1
Monterrei                           1        1
Montilla-Moriles                    1        1
Montsant                            2        1
Murcia                              1        1
Navarra                             1        1
Otazu                               1        1
Pago Calzadilla                     1        1
Penedes                             3        1
Pla de Bages                        1        1
Pla i Llevant                       1        1
Priorato                            1        1
Rias Baixas                         1        1
Ribeira Sacra                       0        0
Ribeiro                             1        1
Ribera del Duero                    3        2
Ribera del Gallego-Cinco Villas     1        1
Rioja                               3        2
Rioja Alavesa                       1        1
Rioja Alta                          2        1
Rueda                               1        1
Sardon de Duero                     1        2
Sierras de Malaga                   1        1
Somontano                           1        1
Tarragona                           1        1
Terra Alta                          1        1
Tierra del Vino de Zamora           1        1
Toro                                3        2
Utiel-Requena                       1        1
Valdejalon                          0        0
Valdeorras                          0        0
Valencia                            2        1
Vino de Espana                      3        2
Yecla                               2        1

In [ ]:
# Relleno los nulos restantes de body y acidity usando los valores medios por región
df["body"] = df.groupby("region")["body"].transform(lambda x: x.fillna(x.mean()))
df["acidity"] = df.groupby("region")["acidity"].transform(lambda x: x.fillna(x.mean()))